@import url("https://fonts.cdnfonts.com/css/general-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100dvw;
    overflow-x: hidden;
    background-color: #dfdff0;
    font-family: "General Sans", sans-serif;
}

* {
    scroll-behavior: smooth;
}
